header.header
    .header__top
        .maxwidth-theme
            .header__city 
                img(src="./images/icon/city.svg", alt="city")
                | г. 
                span Новосибирск
            .header__menu 
                .wrap
                    a(href="#").dropdown-toggle
                        div 
                            span Акции
                            .line-wrapper
                .wrap
                    a(href="#").dropdown-toggle
                        div 
                            span Как купить
                                img(src="./images/icon/arrow-menu.svg", alt="arrow")
                            .line-wrapper
                .wrap
                    a(href="#")
                        div 
                            span Магазины
                .wrap
                    a(href="#").dropdown-toggle
                        div 
                            span О компании
                                img(src="./images/icon/arrow-menu.svg", alt="arrow")
                            .line-wrapper
                .wrap
                    a(href="#")
                        div Контакты
            .inner-table-block
                .phone
                    img(src="./images/icon/phone-icon.svg", alt="phone")
                    a(href="#") +7 (800) 250-8-925
            .inner-table-block
                span.callback-block Заказать звонок
    .header__bottom 
        .maxwidth-theme
            .header__wrap
                .catalog
                    .wrap 
                        a(href="#").dropdown-toggle
                            div 
                                span 
                                    .burger-big 
                                        span 
                                        span 
                                        span 
                                    | КАТАЛОГ
                                .line-wrapper
                .search 
                    a(href="#") 
                        img(src="./images/icon/search.svg", alt="search")
                        span Поиск по каталогу
            .logo
                a(href="/")
                    img(src="./images/icon/logo.svg", alt="logo")
            .header__wrap
                .person 
                    a(href="#") 
                        img(src="./images/icon/person.svg", alt="person")
                        span Личный кабинет
                .basket 
                    .js-basket-block
                        span 
                            img(src="./images/icon/basket-icon.svg", alt="basket")
                            span 5
                        p
                            span Корзина:
                            span 0 руб.
#mobileheader
    .mobile__top
        .maxwidth-theme
            .header__city 
                img(src="./images/icon/city.svg", alt="city")
                | г. 
                span Новосибирск
            span.callback-block Заказать звонок
    .mobile__bottom 
        .maxwidth-theme
            .mobile__wrap
                .burger 
                    span 
                    span 
                    span 
                .search 
                    img(src="./images/icon/search.svg", alt="search")
            .logo
                a(href="/") 
                    img(src="./images/icon/logo-mobile.svg", alt="logo")
            .mobile__wrap 
                a(href="#").log-in  
                    img(src="./images/icon/avatar-icon.svg", alt="avatar-icon")
                a(href="#").basket-mobile
                    img(src="./images/icon/basket-mob.svg", alt="basket")
                    span 5
        .catalog-menu
            p КАТАЛОГ
            ul.catalog-menu__catalog
                li 
                    a(href="#") 
                        span Бакалея
                li 
                    a(href="#") 
                        span Молочные продукты, сыры, яйцо
                li 
                    a(href="#") 
                        span Заморозка
                li 
                    a(href="#") 
                        span Растительные масла, соусы, приправы
                li 
                    a(href="#") 
                        span Консервация
                li 
                    a(href="#") 
                        span Мясо, птица, колбасы
            ul.catalog-menu__menu
                li 
                    a(href="#") 
                        span Акции
                            img(src="./images/icon/arrow-menu.svg", alt="arrow")
                ul 
                    li 
                        a(href="#") 2015 год
                    li 
                        a(href="#") 2016 год
                    li 
                        a(href="#") 2017 год
                    li
                        a(href="#") 2018 год
                li 
                    a(href="#") 
                        span Как купить
                            img(src="./images/icon/arrow-menu.svg", alt="arrow")
                li 
                    a(href="#") 
                        span Магазины
                li 
                    a(href="#") 
                        span О компании
                            img(src="./images/icon/arrow-menu.svg", alt="arrow")
                li
                    a(href="#") 
                        span Контакты
            .phone
                img(src="./images/icon/phone-icon.svg", alt="phone")
                a(href="#") +7 (800) 250-8-925                 